.card{
    border: 2px solid rgb(164, 246, 134);    
    border-radius: 20px;
    width: 90%;
    height: fit-content;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
}

.sitename{
    text-align: center;
    font-size: 22px;
    color: rgb(169, 236, 255);
    margin-bottom: 20px;
    text-shadow: 0.5px 0.5px;
}

.card-details{
    display: flex;
    justify-content: space-between;
    padding: 10px;
	width:100%;
    font-size: 18px;
}

.name{
	flex: 1 1 20%;
	text-align:center;
    color: rgb(55, 195, 27);
}

.value{
    color: rgb(123, 185, 240);
}

.delete-btn{
    width: fit-content;
    font-size: 16px;
    color: white;
    margin: auto;
    padding: 2px 10px;
    border: 1px solid red;
    border-radius: 10px;
    cursor: pointer;
}

.delete-btn:hover{
    background-color: red;
    box-shadow: 2px 2px;
    transform: scale(1.1);
}